body {
     background-color: #30475E;
}


nav ul{
    display: flex;
    justify-content: space-evenly;
    background-color: #1d4a77;
    padding: 8px;
    border-radius: 4px;
    list-style-type: none;
    box-shadow: 0px 0px 4px #121212;
}

nav li a {
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}

nav li a:hover {
    background-color: #4f95db;
}

footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1d4a77;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #121212;
}

.footertext {
    font-size: small;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.productpagecard img {
    display: flex;
    flex-direction: column;
    float: right;
    width: 20%;
}

.productpagecard p{
    display: flex;
    
}



